<a href="https://colab.research.google.com/github/austinvanderlyn/School-Files/blob/master/ajl745HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#P1 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

In [1]:
import pandas as pd  
import numpy as np  
np.random.seed(100)
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

1. Import the Auto MPG dataset with pandas.read_csv() using the dataset URL, use the attribute names as explained in the dataset description as the column names **(5pt)**, view the strings ‘?’ as the missing value, and whitespace (i.e., ‘\s+’) as the column delimiter. Print out the shape and first 5 rows of the obtained DataFrame. **(5pt)**

* Dataset source file:
http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
* Dataset description: http://archive.ics.uci.edu/ml/datasets/Auto+MPG
* To have reproducible results using Scikit-Learn in Jupyter Notebook for the training/testing, set the seed at the beginning of your notebook
https://www.mikulskibartosz.name/how-to-set-the-global-random_state-in-scikit-learn/

In [2]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
auto = pd.read_csv(url,
                   delimiter = "\s+",
                   header = None,
                   names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "year", "origin", "car name"],
                   na_values= ["?", " ?", "? ", " ? "])
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [3]:
auto.shape

(398, 9)

2.	Delete the “car_name” column using .drop() method as it is irrelevant to the prediction. Print out a concise summary of the new DataFrame using .info() and check if NULL value exists in each column **(5pt)**

In [4]:
newauto = auto.drop(columns = ["car name"])
newauto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   year          398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [5]:
newauto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
year            0
origin          0
dtype: int64

3.	Replace the NULL value with the mean value of the column using .fillna(). Print out the concise summary of the new DataFrame and recheck if NULL value exists in each column **(5pt)**

In [6]:
newauto2 = newauto.fillna(value = "mean")

In [7]:
newauto2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   year          398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [8]:
newauto2.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
dtype: int64

4.	For the ‘origin’ column with categorical attribute, replace it with the columns with numerical attributes using one-hot encoding (you can use either get_dummies() in Pandas or OneHotEncoder in Scikit-Learn). Print out the first 5 rows of the newly obtained DataFrame. **(10pt)**
	
	a.	https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/

In [9]:
import pandas as pd
newauto3 = pd.get_dummies(newauto2.origin, prefix = "origin")
newauto4 = newauto2.drop("origin", axis = 1)
newauto5 = newauto4.join(newauto3)
newauto5.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin_1,origin_2,origin_3
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,0,0

5.	Learn a linear regression model (fit_intercept=True) to predict the “mpg” column from the remaining columns in the obtained DataFrame of Step 4. 

  a.	Separate the “mpg” column from other columns and view it as the label vector and others as the feature matrix **(5pt)**

In [38]:
y = newauto5.iloc[:, 0]
X = newauto5.iloc[:, 1:]

  b.	Split the data into a training set (80%) and testing set (20%) using train_test_split and print out their shapes **(5pt)**

In [11]:
# Put your answers here

c.	Train the model using the training set and print out the coefficients of the model **(5 pt)**

In [12]:
# Put your answers here

d.	Use the learned model to predict on the test set and print out the mean squared error of the predictions **(5pt)**

In [13]:
# Put your answers here

# P2 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

1. Import the red wine dataset with pandas.read_csv() using the dataset URL, use the semi-colon as the column delimiter, and print out both the first five rows and a concise summary of the obtained DataFrame. **(10 pt)**
	
	a.	Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
	
	b.	 Dataset description: http://archive.ics.uci.edu/ml/datasets/wine+quality

	c.   To have reproducible results using Scikit-Learn in Jupyter Notebook for the training/testing, set the seed at the beginning of your notebook
https://www.mikulskibartosz.name/how-to-set-the-global-random_state-in-scikit-learn/

In [14]:
# Put your answers here

2. Suppose we want to predict the quality of wine from other attributes. Divide the data into a label vector and a feature matrix. Then split them into a training set (80%) and testing set (20%) using train_test_split. **(5pt)**

In [15]:
# Put your answers here

3. Use the StandardScalar() in Scikit-Learn to preprocess the feature matrices of both training set and testing set. Note that the testing set can only be scaled by the mean and standard deviation values obtained from the training set. **(5 pt)**

  a.	https://scikit-learn.org/stable/modules/preprocessing.html (Refer to the code examples when using MinMaxScalar() in Section 6.3.1.1)

In [16]:
# Put your answers here

4. Use the preprocessed training dataset to learn a classification model with RandomForestClassifier (with 300 trees) in Scikit-Learn. Use 5-fold cross-validation to train and cross-validate the model on the preprocessed training dataset. Print out the accuracies returned by the five folds as well as their average and standard deviation values. **(10 pt)**

In [17]:
# Put your answers here

5. Use GridSearchCV() to find and print out the best hyperparameter for the number of trees (try the following values: 100, 300, 500, 800, 1000 for ‘n_estimator’), ignoring the search for other hyperparameters. Also use 5-fold cross-validation during GridSearchCV. **(15 pt)**

In [18]:
# Put your answers here

6. Find and print out the testing accuracy of the model obtained using the best hyperparameter value on the preprocessed testing dataset **(5 pt)**

In [19]:
# Put your answers here