<a href="https://colab.research.google.com/github/austinvanderlyn/School-Files/blob/master/Chapter_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation with Pandas

## Installing and Using Pandas

In [265]:
import pandas
pandas.__version__

'1.3.5'

In [266]:
import pandas as pd

# Introducing Pandas Objects

In [267]:
import numpy as np
import pandas as pd

## The Pandas Series Object

In [268]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [269]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [270]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [271]:
data[1]

0.5

In [272]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as Generalized NumPy Array

In [273]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [274]:
data["b"]

0.5

In [275]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [276]:
data[5]

0.5

### Series as Specialized Dictionary

In [277]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [278]:
population["California"]

38332521

In [279]:
population["California":"Illinois"]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Objects

In [280]:
#pd.Series(data, index = index)

In [281]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [282]:
pd.Series(5,
          index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [283]:
pd.Series({2:"a", 1:"b", 3:"c"})

2    a
1    b
3    c
dtype: object

In [284]:
pd.Series({2:"a", 1:"b", 3:"c"},
          index = [3, 2])

3    c
2    a
dtype: object

## The Pandas DataFrame Object

### DataFrame as a Generalized NumPy Array

In [285]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [286]:
states = pd.DataFrame({"population": population,
                       "area": area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [287]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [288]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame as Specialized Dictionary

In [289]:
states["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

## Constructing DataFrame Objects

#### From a Single Series Object

In [290]:
pd.DataFrame(population,
             columns = ["population"])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a List of Dicts

In [291]:
data = [{"a": i, "b": 2*i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [292]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a Dictionary of Series Objects

In [293]:
pd.DataFrame({"population": population,
              "area": area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### From a Two-Dimensional NumPy Array

In [294]:
pd.DataFrame(np.random.rand(3, 2),
             columns = ["foo", "bar"],
             index = ["a", "b", "c"])

        foo       bar
a  0.294937  0.275021
b  0.566971  0.027901
c  0.493885  0.954861

#### From a NumPy Structured Array

In [295]:
A = np.zeros(3, dtype = [("A", "i8"),
                         ("B", "f8")])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [296]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

In [297]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as Immutable Array

In [298]:
ind[1]

3

In [299]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [300]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [301]:
#ind[1] = 0

### Index as Ordered Set

In [302]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [303]:
# intersection
indA & indB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead

Int64Index([3, 5, 7], dtype='int64')

In [304]:
# union
indA | indB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [305]:
# symmetric difference
indA ^ indB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead

Int64Index([1, 2, 9, 11], dtype='int64')

## Data Selction in Series

### Series as Dictionary

In [306]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [307]:
data["b"]

0.5

In [308]:
"a" in data

True

In [309]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [310]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [311]:
data["e"] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as One-Dimensional Array

In [312]:
# slicing by explicit index
data["a":"c"]

a    0.25
b    0.50
c    0.75
dtype: float64

In [313]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [314]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [315]:
# fancy indexing
data[["a", "e"]]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

In [316]:
data = pd.Series(["a", "b", "c"],
                 index = [1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [317]:
# explicit index when indexing
data[1]

'a'

In [318]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [319]:
data.loc[1]

'a'

In [320]:
data.loc[1:3]

1    a
3    b
dtype: object

In [321]:
data.iloc[1]

'b'

In [322]:
data.iloc[1:3]

3    b
5    c
dtype: object

## Data Selection in DataFrame

### DataFrame as a Dictionary

In [323]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [324]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [325]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [326]:
data.area is data["area"]

True

In [327]:
data.pop is data["pop"]

False

In [328]:
data["density"] = data["pop"] / data["area"]
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as Two-Dimensional Array

In [329]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [330]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [331]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [332]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [333]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [334]:
data.loc[:"Illinois", :"pop"]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [335]:
# data.ix[:3, :"pop"]

In [336]:
data.loc[data.density > 100, ["pop", "density"]]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [337]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### Additional Indexing Conventions

In [338]:
data["Florida":"Illinois"]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [339]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [340]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

# Operating on Data in Pandas

## Ufuncs: Index Preservation

In [341]:
import pandas as pd
import numpy as np

In [342]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int64

In [343]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns = ["A", "B", "C", "D"])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [344]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [345]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## Ufuncs: Index Alignment

### Index Alignment in Series

In [346]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [347]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [348]:
area.index | population.index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  """Entry point for launching an IPython kernel.

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [349]:
A = pd.Series([2, 4, 6],
              index = [0, 1, 2])
B = pd.Series([1, 3, 5],
              index = [1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [350]:
A.add(B,
      fill_value = 0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index Alignment in DataFrame

In [351]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns = list("AB"))
A

   A   B
0  1  11
1  5   1

In [352]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns = list("BAC"))
B

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In [353]:
A + B

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

In [354]:
fill = A.stack().mean()
A.add(B, fill_value = fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

## Ufuncs: Operations Between DataFrame and Series

In [355]:
A = rng.randint(10,
                size = (3, 4))
A

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [356]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-1, -2,  2,  4],
       [ 3, -7,  1,  4]])

In [357]:
df = pd.DataFrame(A,
                  columns = list("QRST"))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

In [358]:
df.subtract(df["R"],
            axis = 0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

In [359]:
halfrow = df.iloc[0, ::2]
halfrow

Q    3
S    2
Name: 0, dtype: int64

In [360]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN

# Handling Missing Data

## Missing Data in Pandas

### Pythonic Missing Data

In [361]:
import numpy as np
import pandas as pd

In [362]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [363]:
for dtype in ["object", "int"]:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype = dtype).sum()
    print()

dtype = object
40.7 ms ± 702 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
988 µs ± 3.71 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### Missing Numerical Data

In [364]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [365]:
1 + np.nan

nan

In [366]:
0 * np.nan

nan

In [367]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [368]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

### NaN and None in Pandas

In [369]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [370]:
x = pd.Series(range(2),
              dtype = int)
x

0    0
1    1
dtype: int64

In [371]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

## Operating on Null Values

### Detecting Null Values

In [372]:
import numpy as np
import pandas as pd
data = pd.Series([1,
               np.nan,
               "hello",
               None])

In [373]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [374]:
data[data.notnull()]

0        1
2    hello
dtype: object

### Dropping Null Values

In [375]:
data.dropna()

0        1
2    hello
dtype: object

In [376]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2,    3,   5],
                  [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [377]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [378]:
df.dropna(axis = "columns")

   2
0  2
1  5
2  6

In [379]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [380]:
df.dropna(axis = "columns",
          how = "all")

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [381]:
df.dropna(axis = "rows",
          thresh = 3)

     0    1  2   3
1  2.0  3.0  5 NaN

### Filling Null Values

In [382]:
data = pd.Series([1, np.nan, 2, None, 3],
                 index = list("abcde"))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [383]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [384]:
# forward fill
data.fillna(method = "ffill")

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [385]:
# back fill
data.fillna(method = "bfill")

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [386]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [387]:
df.fillna(method = "ffill",
          axis = 1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

# Hierarchical Indexing

In [388]:
import pandas as pd
import numpy as np

## A Multiply Indexed Series

### The Bad Way

In [389]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index = index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [390]:
pop[("California", 2010) : ("Texas", 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [391]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

### The Better Way: Pandas MultiIndex

In [392]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [393]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [394]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

### MultiIndex as Extra Dimension

In [395]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [396]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [397]:
pop_df = pd.DataFrame({"total": pop,
                       "under18": [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [398]:
f_u18 = pop_df["under18"] / pop_df["total"]
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

## Methods of MultiIndex Creation

In [399]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.606534  0.281912
  2  0.192556  0.220517
b 1  0.657346  0.125909
  2  0.439599  0.213334

In [400]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

### Explicit MultiIndex Constructors

In [401]:
pd.MultiIndex.from_arrays([["a", "a", "b", "b"],
                           [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [402]:
pd.MultiIndex.from_tuples([("a", 1),
                           ("a", 2),
                           ("b", 1),
                           ("b", 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [403]:
pd.MultiIndex.from_product([["a", "b"],
                            [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [405]:
#pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              #labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

### MultiIndex Level Names

In [406]:
pop.index.names = ["state", "year"]
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### MultiIndex for Columns

In [407]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

In [408]:
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

In [409]:
# create the data frame
health_data = pd.DataFrame(data,
                           index = index,
                           columns = columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      33.0  37.9  39.0  36.2  36.0  36.6
     2      53.0  36.0  36.0  38.9  54.0  37.9
2014 1      26.0  37.6  22.0  36.1  35.0  37.2
     2      36.0  36.8  45.0  36.2  33.0  37.9

In [410]:
health_data["Guido"]

type          HR  Temp
year visit
2013 1      39.0  36.2
     2      36.0  38.9
2014 1      22.0  36.1
     2      45.0  36.2

## Indexing and Slicing a MultiIndex

### Multiply Indexed Series

In [411]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [412]:
pop["California", 2000]

33871648

In [413]:
pop["California"]

year
2000    33871648
2010    37253956
dtype: int64

In [414]:
pop.loc["California":"New York"]

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [415]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [416]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [417]:
pop[["California", "Texas"]]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

### Multiply Indexed DataFrames

In [418]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      33.0  37.9  39.0  36.2  36.0  36.6
     2      53.0  36.0  36.0  38.9  54.0  37.9
2014 1      26.0  37.6  22.0  36.1  35.0  37.2
     2      36.0  36.8  45.0  36.2  33.0  37.9

In [419]:
health_data["Guido", "HR"]

year  visit
2013  1        39.0
      2        36.0
2014  1        22.0
      2        45.0
Name: (Guido, HR), dtype: float64

In [420]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      33.0  37.9
     2      53.0  36.0

In [421]:
health_data.loc[:, ("Bob", "HR")]

year  visit
2013  1        33.0
      2        53.0
2014  1        26.0
      2        36.0
Name: (Bob, HR), dtype: float64

In [422]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, "HR"]]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      33.0  39.0  36.0
2014 1      26.0  22.0  35.0

## Rearranging Multi-Indices

### Sorted and Unsorted Indices

In [423]:
index = pd.MultiIndex.from_product([["a", "c", "b"],
                                    [1, 2]])
data = pd.Series(np.random.rand(6), index = index)
data.index.names = ["char", "int"]
data

char  int
a     1      0.817800
      2      0.471356
c     1      0.946000
      2      0.349257
b     1      0.239719
      2      0.048711
dtype: float64

In [424]:
data = data.sort_index()
data

char  int
a     1      0.817800
      2      0.471356
b     1      0.239719
      2      0.048711
c     1      0.946000
      2      0.349257
dtype: float64

In [425]:
data["a":"b"]

char  int
a     1      0.817800
      2      0.471356
b     1      0.239719
      2      0.048711
dtype: float64

### Stacking and Unstacking Indices

In [426]:
pop.unstack(level=0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [427]:
pop.unstack(level=1)

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [428]:
pop.unstack().stack()

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### Index Setting and Resetting

In [429]:
pop_flat = pop.reset_index(name="population")
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [430]:
pop_flat.set_index(["state", "year"])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

## Data Aggregations on Multi-Indices

In [431]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      33.0  37.9  39.0  36.2  36.0  36.6
     2      53.0  36.0  36.0  38.9  54.0  37.9
2014 1      26.0  37.6  22.0  36.1  35.0  37.2
     2      36.0  36.8  45.0  36.2  33.0  37.9

In [432]:
data_mean = health_data.mean(level = "year")
data_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     43.0  36.95  37.5  37.55  45.0  37.25
2014     31.0  37.20  33.5  36.15  34.0  37.55

In [433]:
data_mean.mean(axis = 1,
               level = "type")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().

type         HR       Temp
year
2013  41.833333  37.250000
2014  32.833333  36.966667

# Combining Datasets: Concat and Append

In [434]:
import pandas as pd
import numpy as np

In [435]:
def make_df(cols, ind):
    """Quickly make a Dataframe"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# example dataframe
make_df("ABC", range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [436]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left: padding: 10px;>
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self, *args):
        return "\n".join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return "\n\n".join(a + "\n" + repr(eval(a))
                           for a in self.args)

## Recall: Concatenation of Numpy Arrays

In [437]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [438]:
x = [[1, 2],
     [3, 4]]
np.concatenate([x, x], axis = 1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

## Simple Concatenation with pd.concat

In [441]:
ser1 = pd.Series(["A", "B", "C"], index = [1, 2, 3])
ser2 = pd.Series(["D", "E", "F"], index = [4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [442]:
df1 = make_df("AB", [1, 2])
df2 = make_df("AB", [3, 4])
display("df1", "df2", "pd.concat([df1, df2])")

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

pd.concat([df1, df2])
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [443]:
df3 = make_df("AB", [0, 1])
df4 = make_df("CD", [0, 1])
display("df3", "df4", "pd.concat([df3, df4])")

df3
    A   B
0  A0  B0
1  A1  B1

df4
    C   D
0  C0  D0
1  C1  D1

pd.concat([df3, df4])
     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1

### Duplicate Indices

In [444]:
x = make_df("AB", [0, 1])
y = make_df("AB", [2, 3])
y.index = x.index
display("x", "y", "pd.concat([x, y])")

x
    A   B
0  A0  B0
1  A1  B1

y
    A   B
0  A2  B2
1  A3  B3

pd.concat([x, y])
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

#### Catching the Repeats as an Error

In [445]:
try:
    pd.concat([x, y], verify_integrity=True)
except ValueError as e:
    print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

#### Ignoring the Index

In [446]:
display("x", "y", "pd.concat([x, y], ignore_index=True)")

x
    A   B
0  A0  B0
1  A1  B1

y
    A   B
0  A2  B2
1  A3  B3

pd.concat([x, y], ignore_index=True)
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

#### Adding MultiIndex Keys

In [447]:
display('x', 'y', "pd.concat([x, y], keys=['x', 'y'])")

x
    A   B
0  A0  B0
1  A1  B1

y
    A   B
0  A2  B2
1  A3  B3

pd.concat([x, y], keys=['x', 'y'])
      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

### Concatenation with Joins

In [448]:
df5 = make_df("ABC", [1, 2])
df6 = make_df("BCD", [3, 4])
display("df5", "df6", "pd.concat([df5, df6])")

df5
    A   B   C
1  A1  B1  C1
2  A2  B2  C2

df6
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

pd.concat([df5, df6])
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [449]:
display("df5", "df6",
        "pd.concat([df5, df6], join='inner')")

df5
    A   B   C
1  A1  B1  C1
2  A2  B2  C2

df6
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

pd.concat([df5, df6], join='inner')
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [450]:
display('df5', 'df6',
        "pd.concat([df5, df6], join_axes=[df5.columns])")

TypeError: ignored

TypeError: ignored

### The Append() Method

In [451]:
display("df1", "df2", "df1.append(df2)")

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

df1.append(df2)
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

# Combining Datasets: Merge and Join

In [452]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## Relational Algebra

## Categories of Joins

### One-to-One Joins

In [453]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display("df1", "df2")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df2
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [454]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

### Many-to-One Joins

In [455]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
display("df3", "df4", "pd.merge(df3, df4)")

df3
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

df4
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

pd.merge(df3, df4)
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

### Many-to-Many Joins

In [456]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display("df1", "df5", "pd.merge(df1, df5)")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df5
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

pd.merge(df1, df5)
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

## Specification of the Merge Key

### The on Keyword

In [457]:
display("df1", "df2", "pd.merge(df1, df2, on='employee')")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df2
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

pd.merge(df1, df2, on='employee')
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

### The left_on and right_on Keywords

In [458]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
display('df1', 'df3', 'pd.merge(df1, df3, left_on="employee", right_on="name")')

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df3
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

pd.merge(df1, df3, left_on="employee", right_on="name")
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [459]:
pd.merge(df1, df3,
         left_on = "employee",
         right_on = "name").drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

### The left_index and right_index Keywords

In [460]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
display('df1a', 'df2a')

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [461]:
display('df1a', 'df2a',
        "pd.merge(df1a, df2a, left_index=True, right_index=True)")

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

pd.merge(df1a, df2a, left_index=True, right_index=True)
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [462]:
display('df1a', 'df2a',
        'df1a.join(df2a)')

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

df1a.join(df2a)
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [463]:
# mix indices and columns
display('df1a', 'df3', 
        "pd.merge(df1a, df3, left_index=True, right_on='name')")

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df3
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

pd.merge(df1a, df3, left_index=True, right_on='name')
         group  name  salary
0   Accounting   Bob   70000
1  Engineering  Jake   80000
2  Engineering  Lisa  120000
3           HR   Sue   90000

## Specifying Set Arithmetic for Joins

In [464]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])
display('df6', 'df7', 'pd.merge(df6, df7)')

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7)
   name   food drink
0  Mary  bread  wine

In [465]:
pd.merge(df6, df7, how='inner')

   name   food drink
0  Mary  bread  wine

In [466]:
display('df6', 'df7', "pd.merge(df6, df7, how='outer')")

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7, how='outer')
     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

In [467]:
display('df6', 'df7', "pd.merge(df6, df7, how='left')")

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7, how='left')
    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine