<a href="https://colab.research.google.com/github/austinvanderlyn/School-Files/blob/master/HW3ajl745.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P1 (40pt): In the following code example explained in Lecture 6, https://colab.research.google.com/drive/13cof4XUULbUqO0s5h-cd17FskWjpyMkm, 

make the following changes to the neural network model sequentially in the example:
1.   Change the number of neurons on the hidden layer to 256 units. **(10pt)**
2.   Use the tanh activation (an activation that was popular in the early days of neural networks) instead of relu for the hidden layer. **(10pt)**
3.   Add an additional hidden layer with 256 units and tanh activation function. **(10pt)**

Retrain the newly defined model and evaluate the trained model on the testing dataset to get the accuracy. **(10pt)**

In [1]:
# import necessary packages
import tensorflow as tf
from tensorflow import keras

In [2]:
# import data
from tensorflow.keras.datasets import mnist

(train_images, train_labels), (test_images, test_labels) = mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11490434/11490434 [==============================] - 0s 0us/step

In [3]:
# build network with 256 neurons in the input layer
from tensorflow.keras import models
from tensorflow.keras import layers

network = models.Sequential()
network.add(layers.Dense(256, activation='tanh', input_shape=(28 * 28,)))
network.add(layers.Dense(256, activation='tanh'))
network.add(layers.Dense(10, activation='softmax'))

In [4]:
network.compile(optimizer='rmsprop',
                loss='categorical_crossentropy',
                metrics=['accuracy'])

In [5]:
# reshape data
train_images = train_images.reshape((60000, 28 * 28))
train_images = train_images.astype('float32') / 255

test_images = test_images.reshape((10000, 28 * 28))
test_images = test_images.astype('float32') / 255

In [6]:
# add labels
from tensorflow.keras.utils import to_categorical

train_labels = to_categorical(train_labels)
test_labels = to_categorical(test_labels)

In [7]:
# fit neural network
network.fit(train_images, train_labels, epochs=5, batch_size=128)

Epoch 1/5
469/469 [==============================] - 4s 4ms/step - loss: 0.3034 - accuracy: 0.9083
Epoch 2/5
469/469 [==============================] - 2s 4ms/step - loss: 0.1403 - accuracy: 0.9587
Epoch 3/5
469/469 [==============================] - 2s 4ms/step - loss: 0.0914 - accuracy: 0.9718
Epoch 4/5
469/469 [==============================] - 2s 4ms/step - loss: 0.0664 - accuracy: 0.9798
Epoch 5/5
469/469 [==============================] - 2s 4ms/step - loss: 0.0491 - accuracy: 0.9852

In [8]:
# run network on test data
test_loss, test_acc = network.evaluate(test_images, test_labels)

313/313 [==============================] - 1s 3ms/step - loss: 0.0728 - accuracy: 0.9763

In [9]:
# accuracy
print('test_acc:', test_acc)

test_acc: 0.9763000011444092

# P2 (60pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn and Keras to complete the following tasks:
1.	Import the Auto MPG dataset using pandas.read_csv(), use the attribute names as explained in the dataset description as the column names, view the strings ‘?’ as the missing value, and whitespace (i.e., ‘\s+’) as the column delimiter. Print out the shape and first 5 rows of the DataFrame. **(5pt)**

    a.	Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

    b.	Dataset description: http://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [10]:
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from tensorflow import keras

import numpy as np  
np.random.seed(100)

tf.random.set_seed(100)

In [14]:
# read in data
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
auto = pd.read_csv(url,
                   delimiter = "\s+",
                   header = None,
                   names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "year", "origin", "car name"],
                   na_values= ["?", " ?", "? ", " ? "])
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [13]:
auto.shape

(398, 9)

2.	Delete the “car_name” column using .drop() and drop the rows containing NULL value using .dropna(). Print out the shape of the DataFrame. **(5pt)**

In [15]:
newauto = auto.drop(columns = ["car name"])
newauto = newauto.dropna()
newauto.shape

(392, 8)

3.	For the ‘origin’ column with categorical attribute, replace it with the columns with numerical attributes using one-hot encoding. Print out the shape and first 5 rows of the new DataFrame. **(5pt)**

In [ ]:
# put your answer here

4.	Separate the “mpg” column from other columns and view it as the label vector and others as the feature matrix. Split the data into a training set (80%) and testing set (20%) using train_test_split and print out their shapes. Print out the statistics of your training feature matrix using .describe().  **(5pt)**

In [ ]:
from sklearn.model_selection import train_test_split

# put your answer here

5.	Normalize the feature columns in both training and testing datasets so that their means equal to zero and variances equal to one. Note that the testing set can only be scaled by the mean and standard deviation values obtained from the training set. Describe the statistics of your normalized feature matrix of training dataset using .describe() in Pandas. **(5pt)**


*   Option 1: You can follow the normalization steps in the code example of “Predicting house prices: a regression example” in Lecture 6.  

*   Option 2: You can use StandardScaler() in Scikit-Learn as in Homework 2 but you may need to transform a NumPy array back to Pandas DataFrame using pd.DataFrame() before calling .describe().

In [ ]:
# put your answer here

6.	Build a sequential neural network model in Keras with two densely connected hidden layers (32 neurons and ReLU activation function for each hidden layer), and an output layer that returns a single, continuous value. Print out the model summary using .summary(). **(10pt)**

*   Hint: You can follow the “Classifying movie reviews” example in Lecture 6, but need to change input_shape and last layer activation function correctly in the model definition.

In [ ]:
# put your answer here

7.	Define the appropriate loss function, optimizer, and metrics for this specific problem and compile the NN model. **(10pt)**

In [ ]:
# put your answer here

8.	Put aside 20% of the normalized training data as the validation dataset by setting validation_split = 0.2 and set verbose = 0 to compress the model training status in Keras .fit(). Train the NN model for 100 epochs and batch size of 32 and plot the training and validation loss progress with respect to the epoch number. **(10pt)**

* Remember to use GPU for training in Colab. Otherwise, you may find out of memory error or slow execution.   

* There is no need to do K-fold cross-validation for this step.

In [ ]:
# put your answer here

9.	Use the trained NN model to make predictions on the normalized testing dataset and observe the prediction error. **(5pt)**

In [ ]:
# put your answer here