<a href="https://colab.research.google.com/github/austinvanderlyn/School-Files/blob/master/IS6733_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Submission Instruction**: Submit a PDF file of your codes and outputs and a public Google Colab shared link to your source file (.ipynb format) to Blackboard (See the submission details on Blackboard).

**Due Date**: 09/12/2022, 11:59 pm

# P1: Write a Python code in Colab using Pandas and Matplotlib libraries to accomplish the following tasks:

## 1. Import the iris flowers dataset using pandas.read_csv() with the following URL link **(10pt)**; Your DataFrame should have the following column names: 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', and 'class' **(5pt)**; Print the first 5 rows of the resulting DataFrame **(5pt)**. 

* Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

* Dataset description: http://archive.ics.uci.edu/ml/datasets/iris

* https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

  * You can fetch the data online by inputting the above URL in pandas.read_csv(url = XXX). Downloading the data to a local copy will make the shared Colab code in your homework submission inexecutable.

  * Pay attention to the header and index_col arguments when using read_csv().

In [21]:
# write your answer here
import numpy as np
import pandas as pd

url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url,
                 header = None,
                 names = ["sepal length (cm)", "sepal width (cm)", "petal length (cm)", "petal width (cm)", "class"])
iris[:5]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

## 2. Summarize the dataset

### a. Print out a concise summary of the DataFrame using .info() and the shape of the DataFrame **(5 pt)**

In [ ]:
# write your answer here

### b. Print out the statistics of the continuous columns using .describe() (i.e., the four attribute columns) **(5 pt)**

In [ ]:
# write your answer here

### c. Print the number of rows that belong to each class **(5pt)**

In [ ]:
# write your answer here

## 3. Data Visualization

a. Separate out the first four columns of the original DataFrame into a new
DataFrame and print out the first 5 rows of the new DataFrame **(5 pt)**

In [ ]:
# write your answer here

### b. Univariate Plots: plot a histogram for each column of the new DataFrame **(5 pt)**

In [ ]:
# write your answer here

### c. Multivariate Plots: plot a scatter plot for each pair of the columns of the new DataFrame using the pandas.plotting.scatter_matrix function**(5 pt)**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.plotting.scatter_matrix.html

In [ ]:
# write your answer here

# P2: Write a Python code in Colab using Pandas and/or Matplotlib libraries to accomplish the following tasks

## 1. Import the Census Income (Adult) dataset using Pandas, use the 14 attribute names (i.e., “age”, “workclass”, ….., “native-country”) as explained in the dataset description as the first 14 column names and “salary” as the last column name **(5 pt)** , view the strings ‘?’, ‘ ?’, ‘? ’, or ‘ ? ’ as the missing values and replace them with NaN (the default missing value marker in Pandas) **(10 pt)**, and print out the first five rows of the DataFrame. **(5 pt)**

* Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

* Dataset description: http://archive.ics.uci.edu/ml/datasets/census+income

* Pay attention to the header and index_col arguments when using
pandas.read_csv().

In [ ]:
# write your answer here

## 2. Dataset checking and cleaning

### a. Print out a concise summary of the DataFrame and observe if null values exist in each column of the DataFrame by checking the summary**(10pt)**

In [ ]:
# write your answer here

### b. Find out the rows that contain missing values and print them out **(10pt)**

In [ ]:
# write your answer here

### c. Drop the rows of the DataFrame with missing values and observe if null values still exist in each column by checking the concise summary again **(10 pt)**

In [ ]:
# write your answer here